B.13B. Ability to meet savings requirements As discussed with college costs and them rising much higher than inflation, funding a child(s)’s education is something that has become out of reach for many families. However that is not to state that one cannot help fund their education or be there for financial assistance. Many families thus decide they want to help fund 30%, or 60% of their children’s education funding, which can be estimated as well. Planning for higher education funding is not an all or none approach. With that in mind, many get fixated by saving a lot within the child’s education accounts, but neglect their own which is a scenario that doesn’t necessarily help any parties in the long run. Thus, in the order of prioritization, typically it is better to look at the client’s funding of their own goals such as retirement or other important goals before ensure that the education is wholly funded. 